---
layout: layout.liquid
title: 11ty Boilerplate
---

 <header class = "nav-head">
            <h1> Stellar Odyssey! </h1>
        <nav> 
            <ul>
                <li><a href = "about.html">About</a></li>
                <li><a href = "contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
<p>Embark on a celestial odyssey with Stellar Odyssey, NASA's pioneering mission to explore distant stars and worlds, 
uncovering the wonders of the cosmos and pushing the boundaries of human exploration</p>